<footer
  fxLayout="row"
  fxLayoutAlign="start"
  fxLayoutGap="5px"
  fxLayout.lt-md="column"
>
  <div style="background-color: thistle" fxFlex="25">
    <h2>Social</h2>
    <ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </div>
  <div style="background-color: thistle" fxFlex="25">
    <h2>Subscribe</h2>
  </div>
  <div style="background-color: thistle" fxFlex="25">
    <h2>About</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo
      accusantium quia sapiente. Assumenda nisi aliquid vero sit similique
      deserunt, rerum ut doloribus impedit error officiis sequi quia.
      Laboriosam, quo.
    </p>
  </div>
  <div style="background-color: thistle" fxFlex="25">
    <h2>fAQ</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci illo
      possimus quis velit ullam facilis dolorem sequi deserunt ea obcaecati
      fugiat fuga quos fugit atque, a praesentium, non unde sunt?
    </p>
  </div>
</footer>

<div
  fxLayout="row"
  fxLayoutAlign="start"
  fxLayoutGap="5px"
  fxLayout.lt-md="column"
>
  <div style="background-color: black" fxFlex="100">
    <h2 style="color: white; text-align: center">
      Copyright 2021 Developed by Shirllie
    </h2>
  </div>
</div>
